.body {
    margin-left: 1%;
    margin-right: 1%;
    height: 0;
    padding-bottom: 2.5%;
    color: rgb(rgb(148, 128, 128), green, blue);
    }

.topbar {
    width: 96%;
    height: 20%;
    border: 35px;
    border-style: ridge;
    align-content: center;
    color: white;
    font-style: oblique;
}
.button:hover {
    background-color: whitesmoke;
    }
    
.card1 {
    width: 96%;
    height: 20%;
    border: 35px;
    border-style: ridge;
    align-content: center;
    color: white;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: bold;
}
.card2 {
    width: 96%;
    height: 20%;
    border: 35px;
    border-style: ridge;
    align-content: center;
    color: white;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: bold;
}
#contact-info-section {
    color: white;

}