.body {
    margin-left: 1%;
    margin-right: 5%;
    height: 0;
    padding-bottom: 2.5%;
}
#h1 {
    font-family: sans-serif;
}
.topbar {
    width: 95%;
    color: black;
    font-family: sans-serif;
    font-size: large;
}

.ul-links a {
    display: block;
    color: black;
    font-size: 25px;
    padding: 25px;
    border-radius: 5px;
    margin: 5px;
    font-family: sans-serif;
    color: black;
    background-color: white;
    text-transform: uppercase; 
    cursor: pointer;
    }
a:hover {
    background-color: white;    
    box-shadow: 0 0 5px #000;
    }

.container {
    margin-left: 25%;
}

.para {
    margin-right: 4%;
    color: white;
}

.card {
    width: 625px;
    height: 480px;
    margin-top: 15px;
    border-style: solid;
    background-color: black;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: bold;
}
.container2 {
    display: flex;
    justify-content: last baseline;
    width: 95%;
    height: 10%;
    padding-top: 5%;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.links {
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    margin-left: 20%;
    padding-bottom: 5px;          
    cursor: pointer;
}


